@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{

    <script src="~/lib/@@microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script>

        //http://localhost:51863   API

        $(document).ready(() => {

            var chartList = new Array();
            chartList.push(["Tarih", "İzmir", "Diyarbakır", "Ankara", "İstanbul", "Trabzon"]);

            var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:51863/CovidHub").build();

            connection.start().then(() => {
                connection.invoke("GetCovidList");
            }).catch((err) => {
                console.log(err);
            });


            connection.on("ReceiveCovidList", data => {

                chartList = chartList.splice(0, 1);

                data.forEach(item => {

                    chartList.push([item.covidDate, item.counts[0], item.counts[1], item.counts[2], item.counts[3], item.counts[4]]);

                });

                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);

            });

            function drawChart() {
                var data = google.visualization.arrayToDataTable(chartList);

                var options = {
                    title: 'Covid19 Chart',
                    curveType: 'function',
                    legend: { position: 'bottom' }
                };

                var chart = new google.visualization.LineChart(document.getElementById('covid_chart'));

                chart.draw(data, options);
            }

        });



    </script>


}



<div id="covid_chart" style="width: 1200px; height: 500px"></div>